:root{
	--color-main01: #78c0e9;
	--color-main02: #f79e9e;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html{touch-action:pan-y;}
body{overflow:hidden;}
body.default{overflow:inherit;}

div[class^="sect0"]{width:90%; margin:0 auto; padding:3rem 0;}
div[class^="sect0"] div.sect-tit{margin-bottom:1.5rem; text-align:center;}
div[class^="sect0"] div.sect-tit div.eng{margin-bottom:0.5rem; color:#aaa; font-size:1.125rem;}
div[class^="sect0"] div.sect-tit div.kor{font-size:2rem; font-weight:600;}

.color01{color:var(--color-main01);}
.color02{color:var(--color-main02);}

.Nt_R{font-family:"Noto Sans KR";}

div.wrap{max-width:480px; margin:0 auto;}

div.intro{position:relative; width:100%; height:100vh; overflow:hidden;}
div.intro div.video{position:absolute; top:0; left:0; width:100%; height:100vh; z-index:1;}
div.intro div.video video{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:auto; height:100%;}
div.intro div.video:after{content:""; position:absolute; top:0; left:0; display:block; width:100%; height:100vh; background:rgba(0, 0, 0, 0.7); z-index:2;}
div.intro div.intro-txt{position:relative; display:flex; justify-content:center; align-items:center; flex-wrap:wrap; width:100%; height:100vh; text-align:center; z-index:3;}
div.intro div.intro-txt div.headline h1{color:#fff; font-size:1.25rem; text-align:center; letter-spacing:0.1rem;}
div.intro div.intro-txt .text-js{opacity:0;}
div.intro div.intro-txt .cursor{position:absolute; top:0; right:-5px; display:inline-block; width:2px; height:100%; background:#fff; z-index:1; -webkit-animation:flash 0.8s none infinite alternate; animation:flash 0.8s none infinite alternate;}
div.intro a.intro-btn{opacity:0; position:absolute; top:55%; left:50%; transform:translateX(-50%); display:block; width:8rem; height:2.5rem; line-height:2.5rem; border:1px solid #fff; text-align:Center; color:#fff; z-index:3; -webkit-transition:2s; -o-transition:2s; -ms-transition:2s; -moz-transition:2s; transition:2s;}

div.sect01{padding:4rem 0 0;}
div.sect01 div.txt01{width:4rem; border-left:1px solid #333; text-align:center; font-size:1.5rem; font-weight:900;}
div.sect01 div.txt01 div.month{margin-bottom:1rem;}
div.sect01 img{display:block; width:100%; height:auto; margin:2rem 0;}
div.sect01 div.txt02{text-align:right;}
div.sect01 div.txt02 div.couple{margin-bottom:1.5rem; font-size:2rem; font-weight:500;}
div.sect01 div.txt02 div.couple > span{position:relative; display:inline-block;}
div.sect01 div.txt02 div.couple > span.groom{margin-right:1.5rem;}
div.sect01 div.txt02 div.couple > span.groom:after{content:""; position:absolute; top:50%; right:-0.8rem; display:inline-block; width:1px; height:1rem; transform:rotate(35deg) translateY(-50%); background:#aaa;}
div.sect01 div.txt02 div.info{line-height:1.3; font-size:1.5rem}

div.sect02 div.txt01{color:#ddd; letter-spacing:0.8rem;}
div.sect02 div.txt01 div.eng01{padding-bottom:0.5rem; margin-bottom:0.5rem; border-bottom:1px solid #333;}
div.sect02 div.txt01 div.eng02{text-align:right;}
div.sect02 div.txt02{margin-top:2rem; font-size:1rem; text-align:center; letter-spacing:0.5rem;}
div.sect02 div.txt03{line-height:1.5; margin:2.5rem 0; text-align:center; font-size:1.25rem;}
div.sect02 div.txt04{text-align:center; font-size:1.5rem;}
div.sect02 div.txt04 ul li{margin-bottom:0.5rem;}
div.sect02 div.txt04 ul li:last-child{margin-bottom:0;}
div.sect02 div.txt04 ul li span.small{font-size:1rem;}
div.sect02 div.txt04 ul li span.bold{font-weight:900;}

div.sect03{display:flex; justify-content:center; align-items:center; width:100%; height:8rem; margin-top:1rem; background:#000 url("../img/sect03_bg.png") center 40% / 100% auto no-repeat; color:#fff; text-align:center; font-size:1.25rem; letter-spacing:0.5rem;}

div.sect04 div.gallery{display:flex; justify-content:space-between; width:100%;}
div.sect04 div.gallery > div[class^="group"]{width:48.5%;}
div.sect04 div.gallery > div[class^="group"] div.image{position:relative; border:1px solid #efefef; overflow:hidden; z-index:1;}
div.sect04 div.gallery > div[class^="group"] div.image > img{display:block; width:auto; height:100%;}
div.sect04 div.gallery > div[class^="group"] div.image01{width:100%; height:17rem;}
div.sect04 div.gallery > div[class^="group"] div.image02{width:100%; height:8rem; margin-bottom:1rem;}
div.sect04 div.gallery > div[class^="group"] div.image03{width:100%; height:8rem;}
div.sect04 a.more{display:block; width:5.5rem; height:auto; padding-bottom:0.25rem; border-bottom:1px solid #888; margin:2rem auto 0; color:#333; font-size:1.125rem; text-align:center;}

div.modal-gallery{display:none; position:fixed; top:0; left:0; background:#111; width:100%; height:100vh; z-index:50;}
div.modal-gallery div.inner{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; height:100%; overflow-y:auto; padding:3rem 1.5rem;}
div.modal-gallery div.inner button.close-btn{position:absolute; top:1rem; right:1rem; display:block; width:1.25rem; height:1.25rem; background:url("../img/close_btn.png") center / 90% auto no-repeat; border:0; padding:0;}
div.modal-gallery div.gallery-slider{width:100%; height:calc(100% - 5.5rem); overflow:hidden;}
div.modal-gallery div.gallery-slider .slick-list,
div.modal-gallery div.gallery-slider .slick-track{height:100%;}
div.modal-gallery div.gallery-slider .slick-slide{display:flex; align-items:center; width:100%; height:100%;}
div.modal-gallery div.gallery-slider .slick-slide img{width:100%; height:auto;}
div.modal-gallery div.gallery-slider .slick-arrow{position:absolute; top:50%; width:2.5rem; height:2.5rem; border:0; border-radius:50%; background:rgba(0, 0, 0, 0.2) url("../img/IC_arrow_WH.svg") center / 40% auto no-repeat; color:rgba(0, 0, 0, 0); text-indent:-9999px; z-index:2;}
div.modal-gallery div.gallery-slider .slick-arrow.slick-prev{left:0.5rem; transform:translateY(-50%) rotate(180deg);}
div.modal-gallery div.gallery-slider .slick-arrow.slick-next{right:0.5rem; transform:translateY(-50%);}
div.modal-gallery div.gallery-slider-nav{width:100%; height:5rem; margin-top:0.5rem; overflow:hidden;}
div.modal-gallery div.gallery-slider-nav .slick-list{height:100%; margin:0 -0.25rem;}
div.modal-gallery div.gallery-slider-nav .slick-track{height:100%; padding:5px 0;}
div.modal-gallery div.gallery-slider-nav .slick-slide{position:relative; display:flex; align-items:center; height:100%; margin:0 0.25rem; border-radius:0.25rem; overflow:hidden; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0);}
div.modal-gallery div.gallery-slider-nav .slick-current{outline:2px solid #ff0000;}
div.modal-gallery div.gallery-slider-nav .slick-slide img{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); opacity:0.4;}
div.modal-gallery div.gallery-slider-nav .slick-current img{opacity:1;}
div.modal-gallery div.gallery-slider-nav .slick-slide.vertical img{width:100%; height:auto;}
div.modal-gallery div.gallery-slider-nav .slick-slide.horizontal img{width:auto; height:100%;}


div.sect05{width:100%; padding:1.5rem 0; background:#f5f5f5;}
div.sect05 div.calendar{width:90%; margin:0 auto; padding:1.5rem; border-radius:1rem; background:#fff;}
div.sect05 div.calendar div.top{display:flex; justify-content:space-between; align-items:flex-end; padding-bottom:0.5rem; margin-bottom:0.5rem; border-bottom:1px solid #eee;}
div.sect05 div.calendar div.top div.month span.num{display:inline-block; margin-right:0.25rem; font-size:2rem; font-weight:900;}
div.sect05 div.calendar div.top div.day{margin-bottom:0.25rem;}
div.sect05 div.calendar table{width:100%; text-align:center; font-size:0.9rem;}
div.sect05 div.calendar table tr th,
div.sect05 div.calendar table tr td{padding:0.6rem 0; font-weight:500;}
div.sect05 div.calendar table tr th:nth-of-type(1),
div.sect05 div.calendar table tr td:nth-of-type(1){color:var(--color-main02);}
div.sect05 div.calendar table tr th:nth-of-type(7),
div.sect05 div.calendar table tr td:nth-of-type(7){color:var(--color-main01);}
div.sect05 div.calendar table tr td.dday{padding:0;}
div.sect05 div.calendar table tr td.dday > span{position:relative; display:inline-block; width:1.5rem; height:1.5rem; line-height:1.5rem; border-radius:50%; background:#eee; font-size:1rem; color:#333; text-align:center; font-weight:900;}
div.sect05 div.calendar table tr td.dday > span:before{content:""; position:absolute; top:-10px; left:50%; transform:translateX(-50%); display:block; width:14px; height:14px; background:url("../img/IC_heart.png") center / 100% auto no-repeat; animation:flash infinite 2.5s;}

div.sect06 div.sect-con div.map-wrap{width:100%; height:15rem; border:1px solid #eee; border-radius:1rem;}
div.sect06 div.sect-con .root_daum_roughmap,
div.sect06 div.sect-con .root_daum_roughmap .wrap_map{width:100%; height:15rem;}
div.sect06 div.map-list{display:flex; justify-content:center; align-items:center; margin-top:1.5rem;}
div.sect06 div.map-list > a{display:inline-block; width:7.5rem; height:2rem; line-height:2rem; border-radius:5px; text-align:center;}
div.sect06 div.map-list > a.kakao{background:#ffeb00; margin-right:0.5rem; color:#333;}
div.sect06 div.map-list > a.naver{background:#19ce60; color:#fff;}
div.sect06 div.sect-con ul li{position:relative; line-height:1.3; word-break:keep-all;}
div.sect06 div.sect-con ul.list01{margin-top:1.5rem;}
div.sect06 div.sect-con ul.list01 > li{padding-left:0.6rem; margin-bottom:1rem; font-weight:900;}
div.sect06 div.sect-con ul.list01 > li:last-child{margin-bottom:0;}
div.sect06 div.sect-con ul.list01 > li:before{content:""; position:absolute; top:0.4rem; left:0; display:inline-block; width:3px; height:3px; background:#333; border-radius:50%;}
div.sect06 div.sect-con ul.list02{margin-top:0.5rem;}
div.sect06 div.sect-con ul.list02 > li{padding-left:0.8rem; margin-bottom:0.4rem; font-weight:500;}
div.sect06 div.sect-con ul.list02 > li:last-child{margin-bottom:0;}
div.sect06 div.sect-con ul.list02 > li:before{content:"-"; position:absolute; top:0.1rem; left:0; display:inline-block;}
div.sect06 div.sect-con ul.list02 > li div.bus-type{display:flex; justify-content:space-between; align-items:center; margin-top:0.5rem;}
div.sect06 div.sect-con ul.list02 > li div.bus-type:nth-of-type(2){margin-top:0.25rem;}
div.sect06 div.sect-con ul.list02 > li div.bus-type span.tit{display:inline-block; width:4rem; height:1.75rem; line-height:1.75rem; border-radius:1rem; background:#f0f0f0; text-align:center; font-size:0.9rem;}
div.sect06 div.sect-con ul.list02 > li div.bus-type span.bus-list{display:inline-block; width:calc(100% - 4.5rem);}
div.sect06 div.sect-con ul.list03{margin-top:0.25rem; padding:0.8rem 1rem; background:#f8f8f8;}
div.sect06 div.sect-con ul.list03 > li{margin-bottom:0.4rem; padding-left:1rem; font-weight:500;}
div.sect06 div.sect-con ul.list03 > li:last-child{margin-bottom:0;}
div.sect06 div.sect-con ul.list03 > li:before{content:""; position:absolute; top:0; left:0; display:inline-block;}
div.sect06 div.sect-con ul.list03 > li:nth-of-type(1){padding-left:0;}
div.sect06 div.sect-con ul.list03 > li:nth-of-type(1):before{display:none;}
div.sect06 div.sect-con ul.list03 > li:nth-of-type(2):before{content:"1.";}
div.sect06 div.sect-con ul.list03 > li:nth-of-type(3):before{content:"2.";}
div.sect06 div.sect-con ul.list03 > li span.bold{font-weight:700;}

div.sect07{position:relative; width:100%;}
div.sect07:before{content:""; position:absolute; top:0; left:0; width:100%; height:100%; display:block; background:url("../img/sect07_bg.jpg") center / cover no-repeat; z-index:-1; opacity:0.3;}
div.sect07 div.sect-con{display:flex; margin-top:3rem;}
div.sect07 div.sect-con > div{width:50%; text-align:center;}
div.sect07 div.sect-con > div div.bot{display:flex; justify-content:center; margin-top:1.5rem;}
div.sect07 div.sect-con > div div.bot > div[class^="p0"]{margin:0 0.5rem;}
div.sect07 div.sect-con > div div div div.circle{width:4rem; height:4rem; margin:0 auto 0.5rem; border-radius:50%;}
div.sect07 div.sect-con > div div div:not(.p01) div.circle{display:flex; justify-content:center; align-items:center; color:#fff;}
div.sect07 div.sect-con > div div div div.txt{font-size:1.125rem; font-weight:900;}
div.sect07 div.sect-con > div.left div div div.circle{background:var(--color-main01);}
div.sect07 div.sect-con > div.right div div div.circle{background:var(--color-main02);}
div.sect07 div.sect-con > div.left div div.p01 div.circle{background:var(--color-main01) url("../img/IC_groom_WH.png") center / 35% auto no-repeat;}
div.sect07 div.sect-con > div.right div div.p04 div.circle{background:var(--color-main02) url("../img/IC_bride_WH.png") center / 40% auto no-repeat;}
div.sect07 div.modal-contact{display:none; position:fixed; top:0; left:0; width:100%; height:100vh; background:rgba(0, 0, 0, 0.7); z-index:999;}
div.sect07 div.modal-contact div.outer a.modal-close{position:absolute; top:1rem; right:1rem; display:block; width:1rem; height:1rem; background:url("../img/close_btn_BK.png") center / 100% auto no-repeat;}
div.sect07 div.modal-contact div.outer{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); display:flex; justify-content:center; align-items:center; width:90%; height:16rem; background:#fff; border-radius:1rem;}
div.sect07 div.modal-contact div.inner div.icon{display:flex; justify-content:center; align-items:center; width:3.5rem; height:3.5rem; margin:0 auto; border-radius:50%; color:#fff;}
div.sect07 div.modal-contact.p01-modal div.inner div.icon{background:var(--color-main01) url("../img/IC_groom_WH.png") center / 35% auto no-repeat;}
div.sect07 div.modal-contact.p02-modal div.inner div.icon,
div.sect07 div.modal-contact.p03-modal div.inner div.icon{background:var(--color-main01);}
div.sect07 div.modal-contact.p04-modal div.inner div.icon{background:var(--color-main02) url("../img/IC_bride_WH.png") center / 35% auto no-repeat;}
div.sect07 div.modal-contact.p05-modal div.inner div.icon,
div.sect07 div.modal-contact.p06-modal div.inner div.icon{background:var(--color-main02);}
div.sect07 div.modal-contact div.inner div.info{margin:1rem 0 1.5rem;}
div.sect07 div.modal-contact div.inner div.info div.txt01{margin-bottom:0.5rem; font-size:1.25rem; font-weight:900;}
div.sect07 div.modal-contact div.inner div.info div.txt02{font-size:1.125rem;}
div.sect07 div.modal-contact div.inner div.btn-wrap{display:flex; justify-content:center; align-items:center;}
div.sect07 div.modal-contact div.inner div.btn-wrap > a{display:flex; justify-content:center; align-items:center; width:7rem; height:2rem; line-height:2rem; border-radius:5px; background:#333; text-align:center; color:#fff;}
div.sect07 div.modal-contact div.inner div.btn-wrap > a:first-child{margin-right:0.5rem;}
div.sect07 div.modal-contact div.inner div.btn-wrap > a img{width:1rem; height:auto; margin-right:0.5rem;}

div.sect08 div.sect-con div.list{margin-bottom:0.8rem;}
div.sect08 div.sect-con div.list:last-child{margin-bottom:0;}
div.sect08 div.sect-con div.list div.list-tit{display:flex; justify-content:space-between; align-items:center; width:100%; height:4rem; padding:0 1rem; border:1px solid #ddd; border-radius:0.5rem; -webkit-transition:0.3s; -ms-transition:0.3s; -o-transition:0.3s; -moz-transition:0.3s; transition:0.3s;}
div.sect08 div.sect-con div.list div.list-tit div.left{display:flex; align-items:center; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0); -moz-transform:translate3d(0, 0, 0);}
div.sect08 div.sect-con div.list div.list-tit div.left span.icon{display:inline-block; width:2.25rem; height:2.25rem; margin-right:0.5rem; border-radius:50%;}
div.sect08 div.sect-con div.list:nth-of-type(1) div.list-tit div.left span.icon{background:var(--color-main01) url("../img/IC_groom_WH.png") center / 35% auto no-repeat;}
div.sect08 div.sect-con div.list:nth-of-type(2) div.list-tit div.left span.icon{background:var(--color-main02) url("../img/IC_bride_WH.png") center / 40% auto no-repeat;}
div.sect08 div.sect-con div.list div.list-tit div.left span.txt{font-size:1.25rem;}
div.sect08 div.sect-con div.list div.list-tit div.right{display:inline-block; width:1rem; height:1rem; background:url("../img/arrow_R_BK.png") center / auto 100% no-repeat; -webkit-transition:0.5s; -ms-transition:0.5s; -o-transition:0.5s; -moz-transition:0.5s; transition:0.5s;}
div.sect08 div.sect-con div.list div.list-con{display:none; width:100%; height:auto; padding:1.5rem; margin-top:0.25rem; background:#f8f8f8;}
div.sect08 div.sect-con div.list div.list-con div.in-con{padding:1rem 0; border-bottom:1px solid #ddd;}
div.sect08 div.sect-con div.list div.list-con div.in-con:first-child{padding-top:0;}
div.sect08 div.sect-con div.list div.list-con div.in-con:last-child{padding-bottom:0; border-bottom:0;}
div.sect08 div.sect-con div.list div.list-con div.in-con div.c-tit{margin-bottom:0.5rem; font-size:1.125rem; font-weight:bold;}
div.sect08 div.sect-con div.list div.list-con div.in-con ul.c-con li{display:flex; justify-content:space-between; align-items:center; margin-bottom:0.25rem;}
div.sect08 div.sect-con div.list div.list-con div.in-con ul.c-con li:last-child{margin-bottom:0;}
div.sect08 div.sect-con div.list div.list-con div.in-con ul.c-con li > button{display:inline-block; width:4rem; height:1.5rem; line-height:1.5rem; border:0; padding:0; background:#333; border-radius:3px; text-align:center; font-size:0.9rem; color:#fff; font-family:"pretty_night";}
div.sect08 div.sect-con div.list div.list-con div.in-con ul.c-con li.kakao > a{display:inline-block; width:4rem; height:1.5rem; line-height:1.5rem; background:#ffeb00 url("../img/kakaopay.png") center / 60% auto no-repeat; border-radius:3px; text-align:center;}
div.sect08 div.sect-con div.list:nth-of-type(1).open div.list-tit{border-color:var(--color-main01); background:var(--color-main01);}
div.sect08 div.sect-con div.list:nth-of-type(2).open div.list-tit{border-color:var(--color-main02); background:var(--color-main02);}
div.sect08 div.sect-con div.list.open div.list-tit div.left span.icon{outline:2px solid #fff;}
div.sect08 div.sect-con div.list.open div.list-tit div.left span.txt{color:#fff;}
div.sect08 div.sect-con div.list.open div.list-tit div.right{background-image:url("../img/arrow_R_WH.png"); transform:rotate(90deg);}

div.sect09{padding:0 0 1rem; text-align:center;}
div.sect09 div.line{width:1px; height:5rem; background:#333; margin:0 auto 3rem; animation:line 2s forwards; animation-delay:0.5s;}
div.sect09 div.txt{line-height:1.5;}
div.sect09 div.image img{width:50%; height:auto; margin:3rem auto 1.5rem;}
div.sect09 div.link{display:flex; justify-content:center; align-items:center; margin-top:5rem;}
div.sect09 div.link > a{display:inline-block; width:3.5rem; height:3.5rem; border-radius:50%;}
div.sect09 div.link > a.kakao{background:#fee500 url("../img/IC_kakao.png") center / 50% auto no-repeat; margin-right:1rem;}
div.sect09 div.link > a.copy{background:#333 url("../img/IC_link.png") center / 40% auto no-repeat;}

div.copy{margin:1.5rem 0; text-align:center; font-size:0.8rem; color:#ccc;}

@media screen and (max-width:480px){
	div.sect04 div.gallery > div[class^="group"] div.image > img{width:100%; height:auto;}
}

@media screen and (max-width:375px){
	div.sect04 div.gallery > div[class^="group"] div.image01{height:16rem;}
	div.sect04 div.gallery > div[class^="group"] div.image02,
	div.sect04 div.gallery > div[class^="group"] div.image03{height:7.5rem;}
}
